* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    background-position: center;
    background-size: cover; 
    overflow-x: hidden;
   
}

header {
    
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #E8C339;
    
}

.logo {
    width: 100px;
    padding-top: 1rem;
    border-radius: 10%;
    margin-left: 1rem;
    margin-right: 1rem;
}


nav {
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    /* background-color: #ff8800; */
}


nav a {
    text-shadow: 1px 1px rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.1rem;
    
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.2rem;
    padding: 2rem;
    font-size: x-large;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
}

nav a:hover {
    transform: scale(1.2);
    text-shadow: -4px -3px #ffa14e;
    transition: 0.1s;
}

nav img{
    width: 100px;
    height: 100px;
}


.custom-shape-divider-top-1700674563 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1700674563 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 127px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1700674563 .shape-fill {
    fill: #E8C339;
}


.custom-shape-divider-top-1700674614 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1700674614 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 127px;
}

.custom-shape-divider-top-1700674614 .shape-fill {
    fill: rgb(255, 166, 0)
}

.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 32px;
  }
  
  .name {
    font-size: 16px;
  }

  .value {
    font-size: 64px;
    font-weight: 700;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  main{
    position: relative;

    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
  }


  .somos{
    width: 100vw;
    display: flex;
    padding-left: 2.5rem;
    padding-top: 3rem;
   
    
  }


 .chicotes{
  width: 50%;
  margin-right: 3rem;
 }

 hr{
    border: 1px solid orangered;
    margin-right: 3rem;
  
 }

 main h3{
  font-size: 2rem;
  justify-content: center;
  margin-top: 2rem;
  color: black;
  font-family: 'Roboto', sans-serif;
 
 
}


h5{
  
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 20, 20);
  

 
}

.quem{
  color: #ff4500;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  
}


.text{
  
  margin-right: 1rem;
  padding-top: .5rem;
  font-size: 20px;
  line-height: 32px;
  justify-content: center;
  
  
}

.orange{

  height: 500px;
  position: relative;
  left: -200px;
  background-image: url('../img sobre/blob.png');
  background-size: fill;
  background-clip: content-box;
  background-position-y: 85%;
  background-repeat: no-repeat;
  display: flex;
  
  
  
}



.qual{
  text-align: start;
  padding-left: 15rem;
  padding-top: 8rem;
  font-size: 1rem;
  
 }


 .qual h2{
  color: white;
  font-family: 'Roboto', sans-serif;
 }
 
.caixa{
  width: 100vw;
  padding-right: 15rem;
}

.texto{
  font-size: 28px;
  text-align: center;
  background-color: rgba(255, 153, 0, 0.911);
  padding: 3rem 2rem;
  border-radius: 22px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 0px; bottom: 5%;
}


.paço{
  position: relative;
  z-index: 99;
}

.girl{

  font-size: 1.3rem;
  
  width: 50%;
  border-radius: 1.5rem;
 

}

h2{
  
    color: rgb(0, 0, 0);
    font-size: 3rem;

}

.txt{
  
    width: 50%;
    font-size: 1.4rem;
   
    
}


main{
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
 
}

.redes{
  color: rgb(194, 194, 177);       
  font-family: 'Frank Ruhl Libre', serif;
  
 }
footer{
  display: flex;
  align-items: end;
  justify-content: center;
  height: 250px;
  background-image: url(../img/wave.png);
  background-size: 100%;
  background-repeat: no-repeat;

} 

footer .redes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
}






  