* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
    background-position: center;
    background-size: cover; 
    overflow-x: hidden;
}

header {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #E8C339;
}

.logo {
    width: 100px;
    padding-top: 1rem;
    border-radius: 10%;
    margin-left: 1rem;
    margin-right: 1rem;
}


nav {
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    /* background-color: #ff8800; */
}


nav a {
    text-shadow: 1px 1px rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.1rem;
    
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.2rem;
    padding: 2rem;
    font-size: x-large;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
}

nav a:hover {
    transform: scale(1.2);
    text-shadow: -4px -3px #ffa14e;
    transition: 0.1s;
}

nav img{
    width: 100px;
    height: 100px;
}

main {
    text-shadow: 2.5px 1px rgba(235, 81, 21, 0.719);
    width: 100vw;
    height: calc(100vh - 80px);
    padding-left: 4rem;
    padding-top: 5rem;

    background:
    linear-gradient(
      rgba(255, 94, 0, 0.315),rgba(255, 94, 0, 0.315)
    ),
    url('../img/PE.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

main h2 {
    text-shadow: 1px 1px rgba(255, 0, 170, 0.644);
}

main article {
    font-family: 'Bayon', sans-serif;
    font-family: 'Rowdies', sans-serif;
    padding-top: 0.1rem;
    width: 37%;
    float: left;

}
main section {
    width: 55%;
    height: 400px;
    float: right;
    border-radius: 15px;
    

    overflow: hidden;

}

article h1 {
    font-size: 4rem;
}

footer{
    background-color: aliceblue;
    margin-top: 645px;
    color: black;
    padding-bottom: 3px;
    padding-top: 1px;
    padding-left: 2rem;
    position: relative;
}


span.hue{
    color: white;
    animation: background-glamour 1.5s infinite linear;
}

@keyframes background-glamour {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


    
span.faltam{
    font-family: 'Bayon', sans-serif;
    font-family: 'Rowdies', sans-serif;
    animation: background-glamour 1.5s infinite linear;
}

@keyframes background-glamour {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


.custom-shape-divider-top-1700674563 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1700674563 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 127px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1700674563 .shape-fill {
    fill: #E8C339;
}


.custom-shape-divider-top-1700674614 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1700674614 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 127px;
}

.custom-shape-divider-top-1700674614 .shape-fill {
    fill: rgb(255, 166, 0)
}

.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 32px;
  }
  
  .name {
    font-size: 16px;
  }

  .value {
    font-size: 64px;
    font-weight: 700;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  