body{
    width: 100vw;
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-size: larger;
    overflow-x: hidden;
}

.fundo {
    position: absolute;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    background-image: url('R.png');
    background-position: center;
    
}

p {
    margin-left: 1%;
}

.topofont{
    margin-right: 10%;
    margin-left: 6%;
 }



.font {
    color: #010104;
    font-size: 30;
    font-weight: 700;
    
}

.font2 {
    margin-right: 5%;
    margin-left: 3.3%;
    
}
.hora{
    border: 1px solid black;
    width: 25%;
    text-align:justify;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 4px 6px 10px #FF348D;
    border-radius: 1rem;
    padding-left: 1rem;
    transition: all 0.5s;
}
.hora:hover{
    background-color: #FF348D;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.txt{
    margin-left: 5%;
}

.textinfo {
    margin-right: 10%;

}

iframe{
    border-radius: 2rem;
    border: 1px solid #FF348D;
    margin-top: 2rem;
}

hr{
    border: 1px solid #FF348D;
    margin-right: 20rem;
}


.loc {
    color: #FF348D;
}